/* line 7, ../sass/style.scss */
html, body {
  height: 100%;
  margin-top: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial,MingLiU,sans-serif;
}
/* line 12, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
html::after, body::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 61, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 62, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/language/susy/_background.scss */
head::before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 63, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 67, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/language/susy/_background.scss */
head:hover ~ html, head:hover ~ body html, head:hover ~ body, head:hover ~ body body {
  position: relative;
}
/* line 70, ../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.1.1/sass/susy/language/susy/_background.scss */
head:hover ~ html::before, head:hover ~ body html::before, head:hover ~ body::before, head:hover ~ body body::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 13, ../sass/style.scss */
html li, body li {
  list-style-type: none;
}
/* line 16, ../sass/style.scss */
html a, body a {
  text-decoration: none;
}

/* line 21, ../sass/style.scss */
.menu_bar {
  width: 100%;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  height: 50px;
  background-color: #919499;
  position: fixed;
}
/* line 27, ../sass/style.scss */
.menu_bar li {
  width: 15.25424%;
  float: right;
  text-align: center;
}
/* line 30, ../sass/style.scss */
.menu_bar li a {
  border: 1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 31, ../sass/style.scss */
.menu_bar li a:hover {
  color: red;
}

/* line 41, ../sass/style.scss */
.main {
  width: 100%;
  float: left;
  height: 100%;
}
/* line 44, ../sass/style.scss */
.main .page1 {
  height: 100%;
  background: black;
}
/* line 48, ../sass/style.scss */
.main .page2 {
  height: 100%;
  background: red;
}
/* line 52, ../sass/style.scss */
.main .page3 {
  height: 100%;
  background: blue;
}
