// Screen
// ======

@import "grids";
@import "compass/css3";

html,body{
	height: 100%;
	margin-top: 0;
	@include container;
	//use Arial for english, mingLiu for chinese, sans-serif for others
	font-family: Arial,MingLiU,sans-serif;
	li{
		list-style-type: none;
	}
	a {
		text-decoration: none;
	}
}

.menu_bar {
	@include span(12);
	@include opacity(0.5);
	height: 50px;
	background-color: #919499;
	position: fixed;
	li {
		@include span(2 omega);
		text-align: center;
		a {
			&:hover{
				color: red;				
			}
			border: 1px solid;
			@include border-radius(5px);
			padding: 5px;
		}
	}
}

.main{
	height: 100%;
	#page1{
		height: 100%;
		background: yellow;
	}
	#page2{
		height: 100%;
		background: red;
	}
	#page3{
		height: 100%;
	}
}
