doctype
html
	head
		title= title

		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		block styles
		link(href='/styles/together/stylesheets/style.css',rel='stylesheet')

	body
		block body

					// A few key dependencies, linked in order

		// Bring in the socket.io client
		script(type="text/javascript", src="/js/socket.io.js")

			// then beef it up with some convenience logic for talking to Sails.js'
		script(type="text/javascript", src="/js/sails.io.js")

			// listen on socket.io for incoming messages
		script(type="text/javascript", src="/js/app.js")

			//jquery
		script(type="text/javascript", src='http://code.jquery.com/jquery-1.11.0.min.js')

			//the library for one page design 
		//main js
		script(type="text/javascript", src='/js/scrolld.js')
		script(type="text/javascript", src='/js/main.js')
		script(type="text/javascript", src='/js/scrollReveal.js')
		script(type="text/javascript", src='/js/jquery.parallax.js')
		script.
			//initialize for parallax.js
			$('.main').parallax({
				calibrateX: false,
				calibrateY: true,
				invertX: false,
				invertY: true,
				limitX: false,
				limitY: 10,
				scalarX: 2,
				scalarY: 8,
				frictionX: 0.2,
				frictionY: 0.8
			});
			//initialize for scrolld.js
			$("[id*='Btn']").stop(true).on('click',function(e){e.preventDefault();$(this).scrolld();});
			//initialize for scrollReveal.js
			var config = {
				after: '0s',
				enter: 'bottom',
				move: '24px',
				over: '0.66s',
				easing: 'ease-in-out',
				viewportFactor: 0.33,
				reset: true,
				init: true
			};
			window.scrollReveal = new scrollReveal( config );
