extends ../layout

block styles

	link(href='/styles/together/stylesheets/style.css',rel='stylesheet')
block body
	.menu_bar
		ul
			li
				a(href='#') Home
			li
				a(href='#') About
			li
				a(href='#') Content
	.main
		section.page1.
			page1
		section.page2.
			page2
		section.page3.
			page3
			
