@import 'grid.less';
@import './3l/3L/3L.less';

@total-width: 100%;

html,body{
  height: 100%;
  //use Arial for english, mingLiu for chinese, sans-serif for others
  font-family: Arial,MingLiU,sans-serif;
  margin: 0px;
  li{
    list-style-type: none;
  }
  a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    color: blue;
    &:hover{
      color: red;
    }
  }
}

.header{
  .column(12);
  background: #919499;
  position: fixed;
  z-index: 1;
  .menu-bar {
    //.push(8);
    height: 50px;
    ul{
      .row(12);
      li{
        a{
          .column(2,12);
          border: 1px solid;
          .border-radius(10px);
          padding: 5px;
          overflow: hidden;
          text-align: center;
        }
      }
      ul{
        .column(2,12);
        display: none;
        color: blue;
        li{
        .column(2,12);
        }
      }
    }
  }
}
.main{
  z-index: 0;
  height: 100%;
  .title{
    text-align: center;
    data-depth: '0.3';
  }
  #page1{
    height: 100%;
    background-image: url(background.png);
  }
  #page2{
    height: 100%;
    background: blue;
  }
  #page3{
    height: 100%;
  }
}

